http://:8080 {
	root "../"

	@static {
		path /
		path /main.mjs
		path /dist/*
	}

	handle @static {
		rewrite / /sandbox/index.html
		rewrite /main.mjs /sandbox/main.mjs
		file_server
	}

	reverse_proxy localhost:4001
}
