{
  "env": {
    "node": true,
    "mocha": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["@typescript-eslint", "mocha", "babel"],
  "ignorePatterns": ["dist/**"],
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/prefer-default-export": "off",
    "mocha/no-exclusive-tests": "error",
    "object-curly-newline": 0,
    "object-curly-spacing": [2, "always"]
  }
}
